<nav>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input type="nome" matInput placeholder="Informe Nome">
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <mat-label>Telefone</mat-label>
            <span matPrefix>+55 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
          </mat-form-field>
    
      </form>
</nav>

<section>
    
    <div class="example-raised-row">
        <button mat-flat-button color="criar">Criar</button>
      <button mat-flat-button="alterar">Alterar</button>
      <button mat-flat-button="deletar">Deletar</button>
      <button mat-flat-button="listar">Listar</button>
     
      
    </div>
  </section>
